@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This app tracks changes in a directory.</p>
<p>The directory path can be entered on the landing page after the app starts.</p>
<p>On a button click, it displays changes grouped into three categories: added files, modified files and deleted files.</p>
<p>A directory path can be entered as an absolute path or a relative path without a leading slash.</p>
<p>The changes displayed are the changes made in the directory since the last run.</p>
<p>If no changes were made, the user is informed and no changes are displayed.</p>
